* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: indianred;
  font-family: Poppins, sans-serif;
}

.main {
  padding: 0 10rem;
}
